{% load staticfiles %}
<div class="panel-body">
	<div class="list_group">

		{% if newform %}
		<div class="list-group-item">
			<div class="list-group-item-text">
			<form id="newattachment_{{ story.id }}" class="form-horizontal" href="javascript:void(0);" action="/req/uploadattachmentsTolist/{{ story.id }}" onsubmit="uploadAttachmentsIntoList(event,'{{ story.id }}')" method="post"
				enctype="multipart/form-data">
				{% csrf_token %}
                    <h4>Upload File (max size 10m) </h4>
                    
                    <input type="file" id="id_file_{{ story.id }}" name="file_{{ story.id }}"\>
                    	<p><button type="submit" class="btn btn-link" href="javascript:void(0);" action="#">
                    		<i class="fa fa-cloud-upload"></i>
                    		Upload
        				</button></p>
                    <!--	<button type="submit" class="btn btn-primary">Upload</button> -->
                    	
              </form>
			</div>
		</div>
		{% endif %}
		{% for attachmentitem in attachments %}
		<div class="list-group-item">
				<h4 class="list-group-item-heading">
					{{ attachmentitem.name }}
					<h6> {{ attachmentitem.last_updated }}
					<a class="btn btn-link pull-right" href="javascript:void(0);" onclick="deleteAttachmentInList('{{ attachmentitem.name }}');">
						<i class="fa fa-trash fa-fw"></i>Delete
					</a>
						</h6>
				</h4>
		</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
</script>